$main-color: rgb(255, 174, 201);
$main-color-900: rgba(255, 174, 201, .9);
$main-color-800: rgba(255, 174, 201, .8);
$main-color-700: rgba(255, 174, 201, .7);
$main-color-600: rgba(255, 174, 201, .6);
$main-color-500: rgba(255, 174, 201, .5);
$main-color-400: rgba(255, 174, 201, .4);
$main-color-300: rgba(255, 174, 201, .3);
$main-color-200: rgba(255, 174, 201, .2);
$main-color-100: rgba(255, 174, 201, .1);

$secondary-color: #50c878;
$secondary-color-hover: rgba(80, 200, 120, 0.5);
$secondary-color-bg: rgba(80, 200, 120, 0.2);


// Character Selection
$rows: 5;
$row-gap: 10px;

// @media (max-width: 1200px) {
//     $rows: 2;
// }