---
layout: main.liquid
title: Gissa Karaktären
jsFiles: [games/guess-the-character.js]
---

<main id="guess-the-character">
    <div class="page-layout">
        <h1>Gissa Karaktären</h1>

        <img id="random-character-image" draggable="false" src="/assets/Images/nagi.png">

        <div id="answer-alternatives">
            <div class="answer" data-index="1">Nagi</div>
            <div class="answer" data-index="2">Gojo</div>
            <div class="answer" data-index="3">Nagi</div>
            <div class="answer" data-index="4">Nagi</div>
        </div>
    </div>
</main>