---
layout: main.liquid
title: Anime Blogg - Om
jsFiles: [about-page.js]
---

<main id="about-content">
    <div class="page-layout">
        <h1>Om</h1>
        <p>Hej och välkommen till min animeblogg! Mitt namn är Leo. Jag är en webbutvecklare och denna sidan är en plats där jag delar mina tankar och omdömen om anime.</p>

        <p>Jag har även andra projekt som man kan se på min <a href="https://github.com/leo-roos" target="_blank">GitHub profil</a>:</p>
        <div class="other-projects">
            <div class="items"></div>
        </div>
    </div>
</main>