---
layout: main.liquid
title: Anime Blogg - Ändra Karaktär
jsFiles: "/assets/js/character-selection.js"
---

{% assign filters = 
  "Alla|all,Män|male,Kvinnor|female,Annat|other,Custom|custom" | split: ","
%}
{% assign currentFilter = "all" %}


<main id="character-selection">
    <div class="page-layout">
        <h1>Välj Karaktär</h1>
        
        <div class="upload">
            <button onclick="location.pathname='add-new-character.html'">Lägg till ny karaktär</button>
        </div>
        
        <div class="filters">
            {% for filter in filters %}
                {% assign parts = filter | split: "|" %}
                {% assign label = parts[0] %}
                {% assign value = parts[1] %}
                <button class="filter {{ value }} {{ currentFilter == value and active }}" data-type="{{ value }}">
                    {{  label }}
                </button>
            {% endfor %}
        </div>
        
        <div class="items">
            <!-- <div class="item active">
                <img class="image" src="Assets/Images/nagi.png" alt="Gojo">
                <div class="label">
                    Saturo Gojo (Jujutsu Kaisen)
                </div>
            </div>
            <div class="item">
                <img class="image" src="Assets/Images/nagi.png" alt="Gojo">
                <div class="label">
                    Saturo Gojo (Jujutsu Kaisen)
                </div>
            </div>
            <div class="item">
                <img class="image" src="Assets/Images/nagi.png" alt="Gojo">
                <div class="label">
                    Saturo Gojo (Jujutsu Kaisen)
                </div>
            </div>
            <div class="item">
                <img class="image" src="Assets/Images/nagi.png" alt="Gojo">
                <div class="label">
                    Saturo Gojo (Jujutsu Kaisen)
                </div>
            </div>
            <div class="item">
                <img class="image" src="Assets/Images/nagi.png" alt="Gojo">
                <div class="label">
                    Saturo Gojo (Jujutsu Kaisen)
                </div>
            </div> -->
        </div>
    </div>
</main>