---
layout: main.liquid
title: Anime Blogg
show_friends: true
---

<main id="posts">
    <div class="page-layout">
        <h1>Senaste Inläggen</h1>

        {% include "_includes/components/posts.liquid" %}
    </div>
</main>