{% for post in collections.posts limit:5 %}
    {% if post.data.featured %}
        <a class="item" href="{{ post.url }}" data-page="{{ post.url }}">{{ post.data.title }}</a>
    {% endif %}
{% endfor %}