{% assign pages = 
  "/|Hem,/about/|Om,/contact/|Kontakta" | split: "," 
%}

<div class="sidebar">
    <article class="profile">
        <div class="left">
            <img src="/assets/Images/gojo-emoji.png" alt="" srcset="">
        </div>
        <div class="right">
            <span>Leo</span>
            <span>Web Developer</span>
        </div>
    </article>

    <nav class="sidebar-items">
        <div class="sidebar-item">
            <div class="title">Sidor</div>
            <div class="items">
                {% for item in pages %}
                    {% assign values = item | split: "|" %}
                    {% assign url = values[0] %}
                    {% assign title = values[1] %}

                    {% include "_includes/components/navbar-item.liquid", url: url, title: title %}
                {% endfor %}
            </div>
        </div>
        
        <div class="sidebar-item">
            <div class="title">Utvalda Inlägg</div>
            <div class="items">
                {% include "_includes/components/featured-posts.liquid" %}
            </div>
        </div>
        
        <div class="sidebar-item">
            <div class="title">Spel</div>
            <div class="items">
                {% include "_includes/components/navbar-item.liquid", url: "/games/guess-the-character/", title: "Gissa Karaktären" %}
            </div>
        </div>
        
        <div class="sidebar-item">
            <div class="title">Inställningar</div>
            <div class="items">
                {% include "_includes/components/navbar-item.liquid", url: "/character-selection/", title: "Byt Karaktär" %}
            </div>
        </div>
    </nav>
</div>