<!DOCTYPE html>
<html lang="en">
<head>
    {% include "_includes/components/head.liquid" %}
</head>
<body>
    <img id="background-image" src="/assets/Images/Anime-Blogg-BG.png" alt="" srcset="">

    <div class="main-layout">
        {% include "_includes/components/navbar.liquid" %}

        <main id="contact-content">
            <div class="page-layout">
                Contact
            </div>
        </main>

        {% include "_includes/components/gallery.liquid" %}

        {% include "_includes/components/friends.liquid" %}
    </div>
</body>
</html>