<!DOCTYPE html>
<html lang="en">
<head>
    {% include "_includes/components/head.liquid" %}
</head>
<body>
    <img id="background-image" src="/assets/Images/Anime-Blogg-BG.png" alt="" srcset="">

    <div class="main-layout">
        {% include "_includes/components/navbar.liquid" %}

        {{content}}

        {% include "_includes/components/gallery.liquid" %}

        {% if show_friends %}
            {% include "_includes/components/friends.liquid" %}
        {% endif %}
    </div>
</body>
</html>