---
layout: main.liquid
title: Anime Blogg - Post
---

<main id="post-content">
    <div class="page-layout">
        <div class="go-back">
            <button onclick="window.location.pathname='/';">Gå Tillbaka</button>
        </div>

        <div class="title">
            <h1>{{ title }}</h1>
            <div class="date">
                {{page.date | postDate }} (redigerad: {{ page.inputPath | lastModified | postDateTime }})
            </div>
        </div>
        
        {{content}}
    </div>
</main>